---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/menu/HeroSection.astro';
import MenuGrid from '../components/menu/MenuGrid.astro';
import LanguageToggle from '../components/menu/LanguageToggle.astro';
---

<Layout title="The Golden Spoon">
	<main>
		<HeroSection />
		<MenuGrid />
		<LanguageToggle />
	</main>
</Layout>
